<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>notes</title>
  </head>
  <style>
#notesss {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#notesss td, #notesss th {
  border: 1px solid #ddd;
  padding: 8px;
}

#notesss tr:nth-child(even){background-color: #f2f2f2;}

#notesss tr:hover {background-color: #ddd;}

#notesss th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
<h2>notes</h2>
  <body>
    <table id = 'notesss'>
      <tr>
        <th>To</th>
        <th>From_note</th>
        <th>title_note</th>
        <th>Message</th>
      </tr>
       {% if notes %}
         {% for note in notes %}
        <tr>
          <td> {{ note.to }} </td>
          <td> {{ note.from_note }} </td>
          <td> {{note.title_note}} </td>
          <td> {{note.message}} </td>
        </tr>
          {% endfor %}
        {% endif %}
         <!-- TODO loop from Friend model -->
         <!-- EXAMPLE SECTION -->
      <!-- END SECTION -->
    </table>
  </body>
</html>