<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>notes</title>
  </head>
  <body>
    <table border = '1'>
      <tr>
        <th>To</th>
        <th>From_note</th>
        <th>title_note</th>
        <th>Message</th>
      </tr>
       {% if notes %}
         {% for note in notes %}
        <tr>
          <td> {{ note.to }} </td>
          <td> {{ note.from_note }} </td>
          <td> {{note.title_note}} </td>
          <td> {{note.message}} </td>
        </tr>
          {% endfor %}
        {% endif %}
         <!-- TODO loop from Friend model -->
         <!-- EXAMPLE SECTION -->
      <!-- END SECTION -->
    </table>
  </body>
</html>
